__pycache__/


# Ignore virtual environments
/coaching_proj_venv

# Ignore data/output files
coach_jobs_raw.json
coach_slugs.json
current_position_encoding.txt
/data/LCAs

# Ignore system files
.DS_Store
Thumbs.db
.env
*.md
!README.md